.distribucion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #cabecera {
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    width: 90%;
    text-align: center;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: #727272;
    box-shadow: 0 5px #505050;
    transform: translateY(2px);
  }

  #botonera {
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #cuerpo {
    width: 100%;
    margin: auto;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #046360;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #505050;
  }

  .botonMenu {
    display: inline-block;
    padding: 15px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3a3a3a;
    border: none;
    border-radius: 15px;
  }

  .botonMenu:hover {
    background-color: #525252;
  }

  .botonMenu:active {
    background-color: #747474;
    transform: translateY(4px);
  }

  .boton:hover {
    background-color: #047975;
  }

  .boton:active {
    background-color: #07a19c;
    box-shadow: 0 3px #2d2d2d;
    transform: translateY(4px);
  }

  /* BOTONES DE EDICION GENERAL */

  .cajaf{
    /* position: relative;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px; */
    z-index: 100000;
  }
  .cajaf:hover .caja1{
    visibility: visible;
    bottom: 60px;
  }
  .cajaf:hover .caja2{
    visibility: visible;
    bottom: 120px;
  }
  .caja2:hover:before{
    visibility: visible;
    color:#000;
  }
  .caja1:hover:before{
    visibility: visible; 
    color:#000;
  }
  .btn_roundf{
    position: absolute;
    bottom:0 ;
    right: 0;
    border:1px solid #303030;
    background: #303030;
    color:#00ff08da;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 90090; 
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }
  .caja1::before{
    content: "Editar";
    background: #00ff08da;
    border:1px solid #00ff08da;
    position: absolute;
    left: -90px; 
    padding: .5em;
    visibility: hidden;
  }
  .caja2::before{
    content: "Eliminar";
    background: #e41f1f;
    border:1px solid #e41f1f;
    position: absolute;
    left: -110px; 
    padding: .5em;
    visibility: hidden;
  }
  .caja1{
    position: absolute;
    bottom: 0;
    right: 0;
    border:1px solid #00ff08da;
    background: #00ff08da;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 90080; 
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    -webkit-transition: all .5s;
    visibility: hidden;
  }
  .caja2{
    position: absolute;
    bottom: 0;
    right: 0;
    border:1px solid #e41f1f;
    background: #e41f1f;
    color:#fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 9070; 
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    visibility: hidden;
    -webkit-transition: all 1s;
  }